body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-left: auto;
    margin-right: auto;
    padding: 10ch;
  }
  nav {
    display: flex;
  }
  nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
    margin-bottom: 1em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    /* border-bottom-color: oklch(80% 3% 200); */
    --border-color: oklch(50% 10% 200 / 40%);
    border-bottom-color: var(--border-color);
  }
  a.current {
    border-bottom-width: 0.4em;
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
  }
  html {
    --color-accent: oklch(65% 50% 0);
    accent-color: var(--color-accent);
    color-scheme: light dark;
  }

  nav a:hover {
    border-bottom-width: 0.4em;
    border-bottom-style: solid;
    border-bottom-color: var(--color-accent);
  }

  form {
    font: inherit;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
  }
  form label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
  }

  form button {
    display: grid;
    grid-column: 1/-1;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
    grid-template-rows: subgrid;
  }
  .projects article {
    grid-row: span 3;
    gap: 1em;
  }
  .projects article h2 {
    margin: 0;
  }

  h1 {
    font-size: 400%;
  }
  
  section.personalInfo {
    display: flex;
    margin-bottom: 0em;
    border-bottom-width: 1px;
  }

  section.personalInfo p {
    flex: 1;
  }

  time {
    margin-left: auto;
    margin-right: 0em;
  }

  article.name {
    text-align: center; 
  }
  h2.content {
    margin-top: 1em;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: oklch(80% 3% 200);
    text-align: center;
  }

  p.date {
    text-align: right;
    margin: 0;
  }

  table {
    width: 100%;
    table-layout: fixed;
  }

  /* nav {
    --border-color: oklch(50% 10% 200 / 40%);
    border-bottom-color: var(--border-color);
  } */
  
  nav a:hover {
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  }

  .color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 80%;
    font-family: inherit;
  }
  
  .color-scheme select {
    margin-left: 0.5rem;
  }
  