body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-left: auto;
    margin-right: auto;
    padding: 10ch;
  }
  nav {
    display: flex;
  }
  nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
    margin-bottom: 1em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    /* border-bottom-color: oklch(80% 3% 200); */
    --border-color: oklch(50% 10% 200 / 40%);
    border-bottom-color: var(--border-color);
  }
  a.current {
    border-bottom-width: 0.4em;
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
  }
  html {
    --color-accent: oklch(65% 50% 0);
    accent-color: var(--color-accent);
    color-scheme: light dark;
  }

  nav a:hover {
    border-bottom-width: 0.4em;
    border-bottom-style: solid;
    border-bottom-color: var(--color-accent);
  }

  form {
    font: inherit;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
  }
  form label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
  }

  form button {
    display: grid;
    grid-column: 1/-1;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
    grid-template-rows: subgrid;
  }
  .projects article {
    grid-row: span 3;
    gap: 1em;
  }
  .projects article h2 {
    margin: 0;
  }

  h1 {
    font-size: 400%;
  }
  
  section.personalInfo {
    display: flex;
    margin-bottom: 0em;
    border-bottom-width: 1px;
  }

  section.personalInfo p {
    flex: 1;
  }

  time {
    margin-left: auto;
    margin-right: 0em;
  }

  article.name {
    text-align: center; 
  }
  h2.content {
    margin-top: 1em;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: oklch(80% 3% 200);
    text-align: center;
  }

  p.date {
    text-align: right;
    margin: 0;
  }

  table {
    width: 100%;
    table-layout: fixed;
  }

  /* nav {
    --border-color: oklch(50% 10% 200 / 40%);
    border-bottom-color: var(--border-color);
  } */
  
  nav a:hover {
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  }

  .color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 80%;
    font-family: inherit;
  }
  
  .color-scheme select {
    margin-left: 0.5rem;
  }
  

  #profile-stats dl {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#profile-stats dt {
    font-weight: bold;
    grid-row: 1;
}

#profile-stats dd {
    grid-row: 2;
    margin: 0;
}


.project-year {
  font-style: italic;
  font-family: "Baskerville", serif;
  font-variant-numeric: oldstyle-nums;
  font-size: 1em;

}

.searchBar {
  width: 100%; 
  padding: 0.5em; 
  font-size: 1em; 
  margin-bottom: 1.5em;
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 1000px;
  margin: 2em auto;
}
.legend {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
}
.legend-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.swatch {
  width: 15px;
  height: 15px;
  background-color: var(--color);
  border-radius: 50%; 
  display: inline-block;
}

:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}
path {
  transition: 300ms;
  cursor: pointer;
}

.selected {
  --color: oklch(60% 45% 0) !important;

  &:is(path) {
    fill: var(--color);
  }
}


.stats {
  margin: 20px;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  text-align: center;
}

.stats dl {
  place-items: center;
}

.stats dt {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  order: 0;
}

.stats dd {
  font-size: 20px;
  margin: 0;
  order: 1;
}

.gridlines path,
.gridlines line {
  stroke-opacity: 0.3 ;
}


circle {
  transition: 200ms;
  transform-origin: center;
  transform-box: fill-box;
  @starting-style {
    r: 0;
  }  
}


circle:hover {
  transform: scale(1.5);
}

.tooltip {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0.75em 1em;
}


dl.info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5em 1em;
  margin: 0;
  font-size: 0.9em;
  transition-duration: 500ms;
  transition-property: opacity, visibility;
  
}

dl.info dt {
  font-weight: bold;
}

dl.info[hidden]:not(:hover, :focus-within) {
  opacity: 0;
  visibility: hidden;
}

@keyframes marching-ants {
  to {
    stroke-dashoffset: -8; /* 5 + 3 */
  }
}

.selection {
  fill-opacity: 0.3;
  stroke: black;
  stroke-opacity: 0.7;
  stroke-dasharray: 5 3;
  animation: marching-ants 2s linear infinite;
}

circle.selected {
  fill: #ff6b6b;
}

#filter-ui {
  width: 100%;
  display: flex; 
  flex-direction: column;
  align-items: baseline;
}
#timeSlider {
  /* width: 100%; */
}
#commitSliderLabel {
  margin-left: auto;
  display: block;
}
#selectedTime {
  margin-right: 1em;
  margin-left: auto;
  display: block;
  font-weight: bold;
}
